{
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "endOfLine": "auto",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "printWidth": 120,
    "arrowParens": "avoid",
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "^(next/(.*)$)|^(next$)",
        "<THIRD_PARTY_MODULES>",
        "",
        "^types$",
        "^@/types/(.*)$",
        "^@/hooks/(.*)$",
        "^@/app/(.*)$",
        "",
        "^[./]"
    ]
}
